.bin {
    width: 150px;
    height: 200px;
    background-color: #7F8C8D;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    }

.lid {
    width: 140px;
    height: 20px;
    background-color: #2C3E50;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.trash {
    width: 120px;
    height: 120px;
    background-image:url('papelera.jpg') ;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    }